@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@layer base {
  h1 {
    @apply font-bold text-[32px];
  }

  h2,
  .stylised-h2 {
    @apply font-bold text-2xl;
  }

  h3,
  .stylised-h3 {
    @apply font-bold text-xl;
  }

  .stylised-p-500 {
    @apply font-medium text-base;
  }

  h1.page-heading {
    @apply font-bold text-[44px];
  }

  button {
    @apply block;
  }
}

@layer components {
  table {
    border-collapse: separate;
    border-spacing: 0 12px;
  }
  :is(td, th) {
    @apply p-4;
  }
  tr td:first-of-type {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  tr td:last-of-type {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}

@layer utilities {
  .with-shadow {
    filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.25));
  }
  .text-balance {
    text-wrap: balance;
  }
}
